<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <!-- Debug builds only: lets `adb shell am broadcast` simulate payment notifications. -->
    <application>
        <receiver
            android:name=".debug.DebugPaymentReceiver"
            android:exported="true" />
    </application>
</manifest>
