<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <!-- Debug builds only: lets `adb shell am broadcast` simulate payment notifications. -->
    <application
        android:networkSecurityConfig="@xml/network_security_config"
        tools:ignore="UnusedAttribute">
        <receiver
            android:name=".debug.DebugPaymentReceiver"
            android:exported="true" />
    </application>
</manifest>
